<div ng-controller="configCtrl" style="height:100%;width:100%;position:fixed;background:#EEEEEE;">
    <!--头部导航-->
    <nav class="navbar  navbar-fixed-top">
        <h4 class="text-center text-success back_index" >
            <a href="#/plug" class="pull-left pull" style="font-size:16px;">返回</a>
            <div class="title">通用配置</div>
             <div class=" " style="position:absolute;right:20px;top:18px;cursor:pointer;" ng-click="configQ()">
                <img src="img/question.png" alt="" width="20"/>
            </div>
        </h4>
    </nav>
    <!-- 主体内容-->
    <div class="aside" ><!--左边侧边栏-->
        <p class="text-center" ng-click="shouqi()">收起</p>
        <p class="text-center" ng-click="zhankai()" style="display:none;">展开</p>
        <ul style="">
            <li ng-click="config($index)"  ng-repeat="cc in datat" >
                <span><img ng-src="img/plug/{{$index==currentIndex?cc.reimg:cc.img}}.png" width="20"/></span>
                <a  ng-class={'activeConfigClass':$index==currentIndex}
                >{{cc.name}}</a>
            </li>
        </ul>
    </div>
    <div class="config rightContent">
        <div ng-repeat="cc in datat" style="height:100%">
            <div ng-include="cc.template" style="height:100%"></div>
       </div>
    </div>
     <!-- 操作提示步骤-->
    <div id="configTitp" style="display:none;">
        <div class="oneTitp">
            <div class="basicInfo">填写基础信息,如活动开始时间,二维码等<div class="triangle-up"></div></div>
            <div class="nextStep" ng-click="oneStep();config(1)" >下一步</div>
        </div>

        <div class="twoTitp">
            <div class="giftInfo">填写奖品信息,用于推广<div class="triangle-up"></div></div>
            <div class="nextStep" ng-click="twoStep();config(2)">下一步</div>
        </div>

        <div class="threeTitp">
            <div class="show">查看此应用的演示效果<div class="triangle-up"></div></div>
            <div class="nextStep" ng-click="threeStep();config(3)">下一步</div>
        </div>

        <div class="fousTitp">
            <div class="shenhe">配置完成,提交审核，通过后可使用<div class="triangle-up"></div></div>
            <div class="nextStep" ng-click="fousStep(1)">操作完成关闭提示</div>
        </div>
    </div>
</div>